<div class="search-container">
  <div class="control has-icons-left search">
    <input class="input" [(ngModel)]="filter" (ngModelChange)="search()" type="email" placeholder="Search">
    <span class="icon is-small is-left">
      <fa-icon [icon]="['fas', 'search']"></fa-icon>
    </span>
  </div>
</div>

<div class="container">
  <div class="song-list" *ngIf="(songs$ | async) as songs; else progress">
    <div *ngIf="currentUser?.uid">
      <div class="card song-element" *ngIf="canEditSong()">
        <div class="card-content">
          <div class="song-info" (click)="showAdd()">
            <div class="song-name">Add Song...</div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let song of songs">
        <div class="card song-element" *ngIf="isSongFavorite(song.id)">
          <div class="card-content">
            <div *ngIf="currentUser?.uid" class="song-favorite" (click)="updateFavorites(song.id)">
              <fa-icon *ngIf="currentUser?.uid" [icon]="isSongFavorite(song.id)? ['fas', 'star']: ['far', 'star']"></fa-icon>
            </div>
            <div class="song-info" [routerLink]="['/song', song.id]">
              <div class="song-name">{{ song.associationName ? song.associationName : song.title}}</div>
              <div class="song-page">p. {{song.page}}</div>
            </div>
            <div class="song-edit" *ngIf="currentUser?.uid" (click)="editSong(song)">
              <fa-icon *ngIf="canEditSong()" [icon]="['far', 'edit']"></fa-icon>
            </div>
          </div>
        </div>
      </ng-container>
    <ng-container *ngFor="let song of songs">
      <div class="card song-element" *ngIf="!isSongFavorite(song.id)">
        <div class="card-content">
          <div *ngIf="currentUser?.uid" class="song-favorite" (click)="updateFavorites(song.id)">
            <fa-icon *ngIf="currentUser?.uid" [icon]="isSongFavorite(song.id)? ['fas', 'star']: ['far', 'star']"></fa-icon>
          </div>
          <div class="song-info" [routerLink]="['/song', song.id]">
            <div class="song-name">{{ song.associationName ? song.associationName : song.title}}</div>
            <div class="song-page">p. {{song.page}}</div>
          </div>
          <div class="song-edit" *ngIf="currentUser?.uid" (click)="editSong(song)">
            <fa-icon *ngIf="canEditSong()" [icon]="['far', 'edit']"></fa-icon>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="modal {{ showAddModal ? 'is-active' : '' }}">
  <form [formGroup]="addSongForm">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add Song</p>
        <button class="delete" aria-label="close" (click)="hideAdd()"></button>
      </header>
      <section class="modal-card-body">

        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select">
              <select formControlName="category">
                <option value="">Select Category</option>
                <ng-container *ngFor="let category of categories">
                  <option value="{{ category }}">{{ capitalize(category) }}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Page</label>
          <div class="control">
            <input class="input" type="number" placeholder="Page" formControlName="page">
          </div>
        </div>

        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Title" formControlName="title">
          </div>
        </div>

        <div class="field">
          <label class="label">Backround Information</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Background Information..."
              formControlName="bgInfo"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Lyrics</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Lyrics..." formControlName="lyrics"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Association Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Association Name" formControlName="associationName">
          </div>
        </div>

        <div class="field">
          <label class="label">Association Information</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Association Information..."
              formControlName="associationInfo"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Battle Cry Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Battle Cry Name" formControlName="battleCryName">
          </div>
        </div>

        <div class="field">
          <label class="label">Battly Cry Information</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Battle Cry Information..."
              formControlName="battleCryInfo"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Battle Cry Lyrics</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Lyrics..." formControlName="battleCry"></textarea>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="add()">Add</button>
        <button class="button" (click)="hideAdd()">Cancel</button>
      </footer>
    </div>
  </form>
</div>

<div *ngIf="songToEdit" class="modal {{ showEditModal ? 'is-active' : '' }}">
  <form [formGroup]="editSongForm">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ songToEdit.title }}</p>
        <button class="delete" aria-label="close" (click)="hideEdit()"></button>
      </header>
      <section class="modal-card-body">

        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select">
              <select formControlName="category" [ngModel]="songToEdit.category">
                <option value="">Select Category</option>
                <ng-container *ngFor="let category of categories">
                  <option value="{{ category }}">{{ capitalize(category) }}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Page</label>
          <div class="control">
            <input class="input" type="number" placeholder="Page" formControlName="page" [ngModel]="songToEdit.page">
          </div>
        </div>

        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Title" formControlName="title" [ngModel]="songToEdit.title">
          </div>
        </div>

        <div class="field">
          <label class="label">Backround Information</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Background Information..." formControlName="bgInfo"
              [ngModel]="songToEdit.bgInfo"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Lyrics</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Lyrics..." formControlName="lyrics"
              [ngModel]="songToEdit.lyrics"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Association Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Association Name" formControlName="associationName"
              [ngModel]="songToEdit.associationName">
          </div>
        </div>

        <div class="field">
          <label class="label">Association Information</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Association Information..."
              formControlName="associationInfo" [ngModel]="songToEdit.associationInfo"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Battle Cry Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Battle Cry Name" formControlName="battleCryName"
              [ngModel]="songToEdit.battleCryName">
          </div>
        </div>

        <div class="field">
          <label class="label">Battly Cry Information</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Battle Cry Information..." formControlName="battleCryInfo"
              [ngModel]="songToEdit.battleCryInfo"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Battle Cry Lyrics</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Lyrics..." formControlName="battleCry"
              [ngModel]="songToEdit.battleCry"></textarea>
          </div>
        </div>

        <a class="song-delete" (click)="delete(songToEdit.id)">Delete...</a>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="edit()">Edit</button>
        <button class="button" (click)="hideEdit()">Cancel</button>
      </footer>
    </div>
  </form>
</div>

<ng-template #progress>
  <progress class="progress is-small is-primary" max="100"></progress>
</ng-template>
