<div class="control has-icons-left">
  <input class="input is-rounded" [(ngModel)]="filter"
         (ngModelChange)="search()" type="email" placeholder="Search">
  <span class="icon is-small is-left">
    <fa-icon [icon]="['fas', 'search']"></fa-icon>
  </span>
</div>
<p *ngIf="userData"><span *ngFor="let favorite of userData.favorites">{{favorite}}</span></p>
<table class="table is-hoverable is-fullwidth" *ngIf="$songs | async as songs;">
  <tbody>
  <tr *ngFor="let song of songs" style="cursor: pointer; border: 0;">
    <td *ngIf="auth.user | async">
<!--      <fa-icon *ngIf="userData" [icon]="isSongFavorite(song.id)? ['fas', 'star']: ['far', 'star']"></fa-icon>-->
    </td>
    <td [routerLink]="['/song', song.id]">{{song.title}}</td>
    <td [routerLink]="['/song', song.id]">{{song.page}}</td>
  </tr>
  </tbody>
</table>
