<div class="container song-detail" *ngIf="$song | async as song; else progressBar">

  <div class="song-top">
    <a (click)="back()" class="back-button"><i class="fas fa-chevron-left"></i> Back</a>
    <div class="page">p. {{ song.page }}</div>
  </div>

  <div class="song-content">

    <a *ngIf="auth.user | async" class="has-text-primary favorite" (click)="updateFavorites(songId)">
      <fa-icon *ngIf="user" [icon]="isSongFavorite(songId)? ['fas', 'star']: ['far', 'star']"></fa-icon>
    </a>

    <div class="association" *ngIf="song.associationName">
      <p class="song-title">{{ song.associationName }}</p>
      <p class="song-text">{{ song.associationInfo }}</p>
      <hr style="background-color: black">
    </div>

    <div class="battleCry" *ngIf="song.battleCryName">
      <p class="song-title">{{ song.battleCryName }}</p>
      <p class="song-subtitle">{{ song.battleCryInfo }}</p>
      <p class="song-text">{{ song.battleCry }}</p>
      <hr style="background-color: black">
    </div>

    <div class="song" *ngIf="song.title">
      <p class="song-title">{{ song.title }}</p>
      <p class="song-subtitle">{{ song.bgInfo }}</p>
      <p class="song-text">{{ song.lyrics }}</p>
    </div>
  </div>

</div>

<ng-template #progressBar>
  <progress class="progress is-small is-primary" max="100"></progress>
</ng-template>
