<section class="hero" *ngIf="$song | async as song; else progressBar">
  <div class="hero-body">
    <p>{{song.page}}</p>
    <a *ngIf="auth.user | async" class="has-text-primary" (click)="updateFavorites(songId)">
      <fa-icon *ngIf="userData" [icon]="isSongFavorite(songId)? ['fas', 'star']: ['far', 'star']"></fa-icon>
    </a>
    <div class="columns">
      <div class="column" *ngIf="song.associationName">
        <app-editable-title [title]="song.associationName"
                            titleFieldName="associationName"
                            titlePlaceholder="Association Name"
                            [editable]="true"
                            (saved)="updateSong($event)">
        </app-editable-title>
        <app-editable-text [text]="song.associationInfo"
                           textFieldName="associationInfo"
                           textPlaceholder="Association Info"
                           [editable]="true"
                           (saved)="updateSong($event)">
        </app-editable-text>
      </div>
      <div class="column" *ngIf="song.battleCryName">
        <div>
          <app-editable-title [title]="song.battleCryName"
                              titleFieldName="battleCryName"
                              titlePlaceholder="Kreet Titel"
                              [subtitle]="song.battleCryInfo"
                              subtitleFieldName="battleCryInfo"
                              subtitlePlaceholder="Kreet Info"
                              [editable]="true"
                              (saved)="updateSong($event)">
          </app-editable-title>
          <app-editable-text [text]="song.battleCry"
                             textFieldName="battleCry"
                             textPlaceholder="Kreet"
                             [editable]="true"
                             (saved)="updateSong($event)">
          </app-editable-text>
        </div>
      </div>
      <div class="column" *ngIf="song.title">
        <div>
          <app-editable-title [title]="song.title"
                              [subtitle]="song.bgInfo"
                              subtitleFieldName="bgInfo"
                              subtitlePlaceholder="Background Info"
                              [editable]="true"
                              (saved)="updateSong($event)">
          </app-editable-title>
          <app-editable-text [text]="song.lyrics"
                             textFieldName="lyrics"
                             textPlaceholder="Lyrics"
                             [editable]="true"
                             (saved)="updateSong($event)">
          </app-editable-text>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #progressBar>
  <progress class="progress is-small is-primary" max="100"></progress>
</ng-template>
