<div class="modal {{ showAddModal ? 'is-active' : '' }}">
  <form [formGroup]="addSongForm">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add Song</p>
        <button class="delete" aria-label="close" (click)="hideAdd()"></button>
      </header>
      <section class="modal-card-body">

        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select">
              <select formControlName="category">
                <option value="">Select Category</option>
                <ng-container *ngFor="let category of categories">
                  <option value="{{ category }}">{{ category | capitalize }}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Page</label>
          <div class="control">
            <input class="input" type="number" placeholder="Page" formControlName="page">
          </div>
        </div>

        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Title" formControlName="title">
          </div>
        </div>

        <div class="field">
          <label class="label">Backround Information</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Background Information..."
                      formControlName="bgInfo"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Lyrics</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Lyrics..." formControlName="lyrics"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Association Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Association Name" formControlName="associationName">
          </div>
        </div>

        <div class="field">
          <label class="label">Association Information</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Association Information..."
                      formControlName="associationInfo"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Battle Cry Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Battle Cry Name" formControlName="battleCryName">
          </div>
        </div>

        <div class="field">
          <label class="label">Battly Cry Information</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Battle Cry Information..."
                      formControlName="battleCryInfo"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Battle Cry Lyrics</label>
          <div class="control">
            <textarea autosize class="textarea" placeholder="Lyrics..." formControlName="battleCry"></textarea>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="add()">Add</button>
        <button class="button" (click)="hideAdd()">Cancel</button>
      </footer>
    </div>
  </form>
</div>
