<div *ngIf="!editing" class="field has-addons">
  <div class="control">
    <h1 class="title">{{title}}</h1>
    <h2 *ngIf="subtitle" class="subtitle" style="white-space: pre;">{{subtitle}}</h2>
  </div>
  <div class="control">
    <a *ngIf="editable" class="button is-primary" (click)="editing = !editing">
    <span class="icon is-primary">
      <fa-icon [icon]="['fas', 'edit']"></fa-icon>
    </span>
    </a>
  </div>
</div>
<div *ngIf="editing">
  <div class="field">
    <div class="control is-medium">
      <input class="input is-medium" type="text" [placeholder]="subtitlePlaceholder" [(ngModel)]="title"/>
    </div>
    <div *ngIf="subtitle != undefined" class="control is-medium">
      <textarea class="textarea" [placeholder]="subtitleFieldName" [(ngModel)]="subtitle"></textarea>
    </div>
    <div class="control is-medium">
      <a class="button is-primary is-medium" (click)="save()">
      <span *ngIf="!buttonText" class="icon is-primary is-medium">
        <fa-icon [icon]="['far', 'save']"></fa-icon>
      </span>
        {{buttonText}}
      </a>
    </div>
  </div>
</div>
